/* Zadanie 1 */
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
h1 {
    font-size: 50px;
}
h4 {
    font-size: 30px;
}

/* Zadanie 2 */
* {
    box-sizing: border-box;
}

/* Zadanie 3 */
header {
    position: sticky;
    height: 100%;
    top: 0;
    left: 0;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 2px #aaa;
    padding: 20px 12px;
    z-index: 100;
}

/* Zadanie 4 */
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 25px;
}
nav ul li a {
    text-decoration: none;
}
nav ul li:nth-child(1) a {
    color: green;
}

/* Zadanie 6 */
article, section {
    display: block;
    padding: 0 120px 0 120px;
    font-size: 20px;
}

/* Zadanie 7 */
article {
    position: relative;
    display: sticky;
    flex-direction: row;
    align-items: baseline;
}
